APP_NAME=AMORABI
APP_ENV=local
APP_URL=http://localhost/amorabi

DB_HOST=localhost
DB_PORT=3306
DB_NAME=amorabi_site
DB_USER=root
DB_PASS=

PIX_KEY=
PIX_RECEIVER_NAME=AMORABI
PIX_RECEIVER_CITY=JOINVILLE
PIX_TXID_PREFIX=AMORABI
PIX_MIN_AMOUNT=5
PIX_MAX_AMOUNT=5000
